name: CI

on:
  push:
    branches: [ main, staging, feat/inventory-katalog ]
  pull_request:
    branches: [ main, staging, feat/inventory-katalog ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run Tests
        env:
          SPRING_PROFILES_ACTIVE: test
        run: ./gradlew test

      - name: Generate Jacoco Coverage Report
        run: ./gradlew jacocoTestReport

      - name: Verify Jacoco Coverage Threshold
        run: ./gradlew jacocoTestCoverageVerification

      - name: Run PMD
        run: ./gradlew pmdMain

      - name: Run Checkstyle Linter
        run: ./gradlew checkstyleMain
